@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
h1{
    font-family: 'Island Moments', cursive;;
    color: blue;
    font-size: xx-large;
}
p{
    font-family: 'Yuji Hentaigana Akebono', cursive;;
}