div{
    height: 100px;
    width: 50px;
}
#box1{
    background-color: #505763;
    margin-top: 32px;
    margin-left: 638px;
}
#box2{
    background-color: #3b7066;
    margin-top: -100px;
    margin-left: 694px;
}
#box3{
    background-color: #0b9663;
    margin-top: -100px;
    margin-left: 750px;
}
#box4{
    background-color: #06c95b;
    margin-top: -100px;
    margin-left: 806px;
}
#box5{
    background-color: #cacccb;
    margin-top: -100px;
    margin-left: 862px;
}
#box6{
    background-color: #bd7604;
    margin-top: 25px;
    margin-left: 582px;
}
#box7{
    background-color: #bd1c54;
    margin-top: -100px;
    margin-left: 638px;
}
#box8{
    background-color: #a56fa6;
    margin-top: -100px;
    margin-left: 694px;
}
#box9{
    background-color: #8e1cc7;
    margin-top: -100px;
    margin-left: 750px;
}
#box10{
    background-color: #660696;
    margin-top: -100px;
    margin-left: 806px;
}
#box11{
    background-color: #8b41b0;
    margin-top: -100px;
    margin-left: 862px;

}
#box12{
    background-color: #675f6b;
    margin-top: -100px;
    margin-left: 918px;
}
#box13{
    background-color: #0faab8;
    margin-top: 25px;
    margin-left: 526px;
}
#box14{
    background-color: #75d991;
    margin-top: -100px;
    margin-left: 582px;
}
#box15{
    background-color: #dba372;
    margin-top: -100px;
    margin-left: 638px;
}
#box16{
    background-color: #b00577;
    margin-top: -100px;
    margin-left: 694px;
}
#box17{
    background-color: #2b0d21;
    margin-top: -100px;
    margin-left: 750px;
}
#box18{
    background-color: #02d6c5;
    margin-top: -100px;
    margin-left: 806px;
}
#box19{
    background-color: #189e8a;
    margin-top: -100px;
    margin-left: 862px;
}
#box20{
    background-color: #6d3a94;
    margin-top: -100px;
    margin-left: 918px;
}
#box21{
    background-color: #580c5e;
    margin-top: -100px;
    margin-left: 974px;
}